#content {
  overflow: auto;
  padding: 1em;
}

#car {
  width: 2em;
  height: 2em;
  background: blue;
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

#gas-station {
  width: 2em;
  height: 2em;
  background: red;
  float: right;
  margin-right: 50vw;
  margin-top: 1em;
}
